.attendanceWrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 20px;
}

.cardsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.chartsWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

@media screen and (max-width: 1111px) {
  .attendanceWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 975px) {
  .cardsWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 660px) {
  .cardsWrapper {
    justify-content: center;
  }

  .chartsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
