.attendanceWrapper {
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  column-gap: 20px;
}

.cardsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.statusWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-block: 40px;
}

.chartsWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-block: 40px;
}

@media screen and (max-width: 1111px) {
  .chartsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .attendanceWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .chartsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 975px) {
  .cardsWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .statusWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 660px) {
  .cardsWrapper {
    justify-content: center;
  }

  .statusWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
