.wrapper {
}

.cardsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

@media screen and (max-width: 768px) {
  .cardsWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 568px) {
  .cardsWrapper {
    justify-content: center;
  }
}
