.button {
  background-color: var(--blue);
  border-radius: 8px;
  color: var(--white);
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  white-space: nowrap;
  transition: 0.35s;
  width: 100%;
  min-width: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button:disabled {
  background: var(--text-grey);
}

.circleLoading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ffffff50;
  border-top-color: var(--main-bg);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
